<head>
  <link rel="stylesheet" href="styles/footer.css"> 
</head>

<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="mb-4 md:mb-0">
        <p>&copy; 2024 CrimeLink. All Rights Reserved.</p>
        <p>Powered by Mahir Shah, Paarth Mahadik, Alifaraz Lakhani</p>
      </div>
      <div class="flex space-x-4">
        <a href="https://twitter.com/MumbaiPolice" target="_blank" class="hover:text-blue-400 transition-colors">Twitter</a>
        <a href="https://www.facebook.com/MumbaiPolice" target="_blank" class="hover:text-blue-400 transition-colors">Facebook</a>
        <a href="https://www.instagram.com/mumbaipolice" target="_blank" class="hover:text-blue-400 transition-colors">Instagram</a>
      </div>
    </div>
  </div>
</footer>
