<%- include("partials/header.ejs") %>
<head>
    <link rel="stylesheet" href="styles/about.css">
</head>
<body>
    <div class="about-container">
  <h1>About Us</h1>
  <p>सेवा ही परमोधर्म: (Service is the highest duty).</p>
  <p>
    We strive to create meaningful change by empowering communities and
    fostering collaboration. Our mission is to bring innovation, empathy, and
    dedication to every project we undertake.
  </p>
</div>
    
</body>

<%- include("partials/footer.ejs") %>
