<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Police</title>
</head>
<body>
    <h2>Register Police</h2>
    <form action="/register" method="post">
        <div>
            <label for="badgeNumber">Badge Number:</label>
            <input type="number" id="badgeNumber" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>
